.titleBlock {
    top:1px;
    text-align: center;
    padding: 1%;
    width: 100%; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#div1{
    top:200px;
    text-align: center;
    padding: 1%;
    width: 100%; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background:aqua;
    font-size: 20px;
    font-style: italic;
    color: blue;
    top:1px

}

h1 {
    color:rgba(5, 5, 74, 0.64);
    font-family:'Courier New', Courier, monospace;
    font-size: 40px;
}

h2 {
    font-size: 30px;
    color:blue;
    margin-top: -50px;
}